@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Sacramento&display=swap');

body {
    background-color: honeydew
}

.heading {
    text-align: center;
}

.playground-heading {
    color:lightpink;
    font-family: 'Sacramento', cursive; 
    font-size: 3rem;
}

.main {
    border: 3px solid aqua; 
    width: 50%; 
    margin: 1rem auto;
}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

.ingredients-table {
    margin: 0 auto;
}

.instructions {
    border: 1px solid pink;
    width: 50%;
    margin: 2rem auto;
    padding-bottom: 20px;
}

.instructions ol {
    margin: 0 auto;
    width: 10%;
    text-align: center;
}

.pilt {
    text-align: center;
}

.retsept {
    text-align: center;
}

.footer {
    font-family: 'Gideon Roman', cursive;
    color: hotpink;
    font-size: 0,5rem;
    text-align: center;
    padding-top: 250px;
}